<h1>Joblistings#new</h1>
<p>Find me in app/views/joblistings/new.html.erb</p>

<%= form_for new_joblisting_path do |f| %>

  <% days = ['Mon', 'Tue', 'Wen', 'Thu', 'Fri', 'Sat', 'Sun'] %>
  <% days.each do |day| %>
    <%= f.check_box :days, { multiple: true }, day, false %>
  <%= f.submit %>
  <% end %>
<% end %>
