<div class="container paper">
  <div class="row">
    <div class"col">
      <table>
        <tr>
          <td>
            <h1> Description </h1>
          </td>
          <td>
            <%= @joblisting.description %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
