<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="chatperson">
        <% @conversations.each_with_index do |conversation, index| %>
            <div class="namechat">
              <%= link_to User.find(conversation.user_id).firstname, showmessages_provider_path(id: current_provider, conversation_id: conversation.id), class: "display-button", :remote => true %>
            <% if conversation.messages.where(providerticks: 'green').count > 0 %>
              <div class="notification-icon">
                <span class="glyphicon glyphicon-envelope"></span>
                <span class="badge"><%= conversation.messages.where(providerticks: 'green').count %></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 show-message">
        <% if @conversations.present? %>
          <span class="badge badge-default"><h4>Click on the customer's name to view your conversation.</h4></span>
        <% else %>
          <span class="badge badge-default"><h4>You have no conversations</h4></span>
        <% end %>
    </div>
  </div>
</div>
