<table>
  <tr>
    <th> # </th>
    <th> Provider </th>
  </tr>
  <tr>
    <% @conversations.each_with_index do |conversation, index| %>
    <td><%= index + 1 %></td>
    <td><%= Provider.find(conversation.provider_id).firstname %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'New Conversation', new_conversation_path(current_user.id) %>
