<div class='container'>
  <div class='row'>
    <div class='col-xs-10'>
      <h2>List of electricians</h2>
      <div>
      <%= render partial: 'users/list' %>
      </div>
    </div>
    <div class='col-xs-2'>
      <div class='rate'>*Rate: $20 - $50/hr</div>
    </div>
  </div>
</div>
