<div class='container urgent'>
  <div class='row'>
    <div class='col-xs-12 col-sm-2'>
      <div class='rate'>*Rate: $20 - $50/hr</div>
    </div>
    <div class='col-xs-12 col-sm-10'>
      <h2>List of electricians</h2>
      <%= render partial: 'users/list' %>
    </div>
  </div>
</div>
