<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-3">
      <h3><strong>Company background</strong></h3>
      <p>COOLJOE is founded by 3 graduates from ALPHA camp academy....</p>
      <p>Chad</p>
      <p>Hadi</p>
      <p>Lerh</p>
      <h3><strong>Vision</strong></h3>
      <p>A one-stop solution serivces platform to match customers needs and service providers skills.<p>
      <h3><strong>Mission</strong></h3>
      <p>To provide consumers with ease of finding licensed electricans</p>
      <p>To provide a platform for licensed electricans to recieve jobs from consumers directly</p>
      <h3><strong>Values</strong></h3>
      <p>Integrity</p>
      <p>Reliable</p>
      <p>Passionate</p>
    </div>
  </div>
</div>
