<div class="container">
  <div class="row" id="about-row">
    <h3>About Us</h3>
    <div class="about-words">
      <p>CoolJoe is founded by 3 brave graduates from ALPHA camp academy, Chad || Hadi || Lerh. <br>
        The Company was set up due to the lack of supply for licensed electricians in Singapore. <br>
        Hence, CoolJoe strives to provide its customers the best pool of licensed electricians at their fingertips.
      </p>
    </div>
    <hr>
    <div class="col-xs-4" id= "about-head">
      <%= image_tag "mission.png", id: "about-image" %>
    <p><i class="fa fa-check"></i>A one-stop solution serivces platform to match customers needs and service providers skills.<p>
    </div>
    <div class="col-xs-4" id= "about-head">
      <%= image_tag "vision.png", id: "about-image" %>
      <p><i class="fa fa-check"></i> To provide consumers with ease of finding licensed electricans</p>
      <p><i class="fa fa-check"></i> To provide a platform for licensed electricans to recieve jobs from consumers directly</p>
    </div>
    <div class="col-xs-4" id= "about-head">
      <%= image_tag "values.png", id: "about-image" %>
      <p><i class="fa fa-check"></i>  Integrity</p>
      <p><i class="fa fa-check"></i>  Reliable</p>
      <p><i class="fa fa-check"></i>  Passionate</p>
    </div>
  </div>
</div>
