<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <div class="homepage"><%= link_to "User sign in", new_user_session_path %></div>
      <div class="homepage_link"><%= link_to "New User?", new_user_registration_path %></div>
    </div>
    <div class="col-xs-4 col-xs-offset-1">  
      <div class="homepage"><%= link_to "Provider sign in", new_provider_session_path %></div>
      <div class="homepage_link"><%= link_to "New Provider?", new_provider_registration_path %></div>
    </div>
  </div>
</div>