<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-3">
      <div class="homepage"><%= link_to "User", new_user_session_path %></div>
    </div>
    <div class="col-xs-4">  
      <div class="homepage"><%= link_to "Provider", new_provider_session_path %></div>
    </div>
  </div>
</div>