/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/**/*";

@import url('https://fonts.googleapis.com/css?family=Courgette');

.heading {
  text-align: center;
  background-color: #304269;
  font-family: 'Courgette', cursive;
  // font-weight: bold;
}

#com_name {
  font-size: 400%;
  a {
    color: #f26101;
    text-decoration: none;
  }
}

#banner_links {
  padding-bottom: 10px;
  span.divider {
    color: #f26101;
    padding: 10px
  }
  span a {
    color: #f26101;
  }
  :hover {
      text-decoration: none;
      color: white;
  }
}

#footer {
  background-color: #304269;
  body {
    padding-bottom: 50px;
  }
  #footer-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #f26101;
    #copyright {
      margin-right: 50vw;
      padding-left: 20px;
    }
    #links {
      a {
      color: #f26101;
      padding-left: 20px;
      text-decoration: none;
      }
      a:hover {
        color: white;  
      }
    }
  }
}