/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/**/*";
@import "css/**/*";

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#com_name {
  font-size: 400%;
  a {
    color: #f26101;
    text-decoration: none;
  }
}

* {
  font-family: 'Kurale', serif;
}

ul {
  list-style-type: none;
}

#banner_links {
  text-align: center;
  padding-bottom: 10px;
  span.divider {
    color: #f26101;
    padding: 5px;
  }
  span a {
    color: #f26101;
  }
  :hover {
      text-decoration: none;
      color: white;
  }
}

// Footer
#footer {
  background-color: #304269;
  text-align: center;
  width: 100vw;

  #footer-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #f26101;
    #copyright {
      margin-right: 50vw;
      padding-left: 20px;
    }
    #links {
      a {
      color: #f26101;
      padding-left: 20px;
      text-decoration: none;
      }
      a:hover {
        color: white;
      }
    }
  }
}

.form-buttons {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  background-color: #f26101;
  font-size: 15px;
}

#logo {
  width: 200px;
  height: 150px;
  text-align: center;
}

.heading {
  background-color: #304269;
}
