// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//homepage.html
.homepage {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  a {
    background-color: #f26101;
    color: white;
    font-size: 200%;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
  }
  :hover {
    color: #304269;
    text-decoration: none;
  }
}

.hompage_link {
  a {
    padding: 10px;
    margin: 10px;
  }
}

//contact.html

//about.html