// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//_list.html

img.provider_avatar {
  height: 150px;
  border-radius: 10px;
}

#list-title {
  font-size: 150%;
}
.panel-body {
  font-size: 90%;
}
.rate {
  background-color: #91bed4;
  border-radius: 5px;
  padding: 10px;
  width: auto;
}