<% unless user.is_admin %>
  <% user_joblistings = user.joblistings %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= link_to "#{user.firstname}", user_path(user) %></td>
    <td>
    	<%= render partial: 'project_status', locals: { user_joblistings: user_joblistings } %>
    </td>
    <td>
      <%= render partial: 'payment_status', locals: { user: user } %>
    </td>
  </tr>
<% end %>