#about-row {
  margin: 25px;
  margin-bottom: 50px;
}

.about-words {
  text-align: center;
  padding: 10px;
  color: #304269;
}

#about-head {
  text-align: center;
}

#about-image {
  // width: 150px;
  // height: 200px;
  margin-bottom: 10px;
}

#about-row h3 {
  color: #f26101;
  text-align: center;
}

#about-row p {
  color: #304269;
}
hr {
   border: 1px solid #f26101;
 }
