#myFooter {
    background-color: #304269;
    color: #f26101;
    padding-top: 10px;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
}

#myFooter .footer-copyright {
    background-color: #304269;
    // padding-bottom: 3px;
    // text-align: center;
}


#myFooter .footer-copyright p {
    // margin: 5px;
    // margin-right: 20px;
    color: #f26101;
    // text-align: right;

}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter .footer-links {
  margin-top: 5px;
  // position: absolute;
  // margin-left: 20px;
}

#myFooter .footer-links a {
  color: #f26101;

}



@media screen and (min-width: 860px) {
  .footer-copyright {
    text-align: right;
  }
  .footer-links {
    text-align: left;
  }
    #myFooter {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
  #myFooter {
      text-align: center;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */


.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
