.form {
  text-align: center;
  background-color: #91bed4;
  border-radius: 25px;
  width: 55%;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
  }
}

.form-buttons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  background-color: #f26101;
  font-size: 15px;
}
