#joblisting-index {
  position: relative;
  // width: auto;
  margin: 25px auto 25px auto;  
  text-align: center;
  // padding-top: 5px;
  // padding-bottom: 5px;
  color: black;
}

#joblisting-index-header {
  background-color: #91bed4;
  padding-top: 1px;
  padding-bottom: 3px;
  // vertical-align: text-bottom;
}

.last-row {
  background: #91bed4;
  height: 30px;
}