.product-show {
  width: 25vw;
  margin: 0 0 5vh 3vh; 
}

.paper{
  margin: 10vh auto;
  min-width: 20vw;
  max-width: 90vw;
  min-height: 20vh;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
  transition: .6s ease;
  background: white;
  text-align: left;
  
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Playfair+Display');
  $san-serif:'Open Sans',
  sans-serif;
  $serif:'Playfair Display',
  serif;

  $color-shadow:transparentize(#303336, .9);

  * {
    user-select: none;
    transition: .3s ease;
    -webkit-font-smoothing: antialiased;
  }

  .product-show-summary {
    width: 25vw;
    margin: 5vh 0 5vh 5vh;
  }

  .show-body {
    width: 25vw;
    margin: 5vh 0 5vh 3vh;    
  }

  .default-job-img {
    margin-top: 5vh;
  }

  .image-section {
    background-color: white;
    margin-top: 5vh;
    margin-left: 8vh;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .poster {
    border-radius: 4px 4px 0 0;
    margin-bottom: 2vh;
  }

  h1 {
    font-size: 2.6rem;
    color: #303336;
    letter-spacing: 1px;
    margin: 2vh 4vw;
    font-family: $serif;
  }

  h2 {
    font-size: .4rem;
    color: #A0A6AB;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $san-serif;
    font-weight: 700;
    margin-bottom: 10px;
  }

  hr {
    width: 20%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 0;
    border-bottom: 1px solid #E6E9EC;
  }

  p {
    margin: 2vh 8vw;
    text-align: center;
    padding-bottom: 1vh;
    color: #A0A6AB;
    font-family: $serif;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.25rem;
  }

  .btn,
  a.btn {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    line-height: 20px;
    border-radius: 4px;
    padding: 1vh 2vh;
    letter-spacing: .02rem;
    background: #664EF7;
    color:white;
    font-family:$san-serif;
    font-size:.8rem;
    box-shadow:0 0px 0px $color-shadow, 0 0px 0px rgba(0, 0, 0, 0);
    margin: 0 0 5vh 5vh;
  }

  .btn,
  a.btn:hover {
    background: #7C66FF;
    box-shadow:0 7px 14px $color-shadow,
  0 3px 6px rgba(0, 0, 0, .08);
    transform: translateY(-1px);
  }

  .btn,
  a.btn:active {
    box-shadow:0 4px 6px $color-shadow,
  0 1px 3px rgba(0, 0, 0, .12);
    transform: translateY(1px);
  }

  .space{
    height:4vh;
  }
}

.paper:hover {
  box-shadow: 0 18px 35px rgba(50, 50, 90, .1), 0 8px 15px rgba(0, 0, 0, .07);
  transform: translateY(-1px);
}

ul.date-data li{
  margin-left: 15px;
  margin-left: 5vh;
}
