.notification-icon .glyphicon {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.notification-icon .badge {
  margin-left: -10px;
  margin-top: -15px;
}

.chatperson {
  margin-top: 1em;
}

.namechat:hover {
  text-decoration: none;
  border-bottom: 1px solid orange;
}

.namechat {
  display: inline-block;
  vertical-align: middle;
  display: block;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 4px;
  height: 3em;
}

.media-body {
  display: block;
  height: 3em;
  line-height: 3em;
}

#submit {
  cursor: pointer;
  background: transparent;
  border: 1px solid orange;
}

.media-form {
  padding-right: 2em;
}

.show-message {
  img {
    display: block;
  }
}

.message {
  border: 1px solid black;
}
