<span><%= link_to 'Jobs list', admin_joblistings_path %></span>
<span class='divider'>|</span>
<span><%= link_to 'Users list', admin_users_path %></span>
<span class='divider'>|</span>
<span><%= link_to 'Electricians list', admin_providers_path %></span>
<span class='divider'>|</span>
<span>Statistics</span>
<span class='divider'>|</span>
<span><%= link_to 'Log out', destroy_user_session_path, method: :delete %></span>