<nav id='footer', class='navbar navbar-default navbar-fixed-bottom'>
  <div class='container'>
    <div id='footer-links', class='row'>
      <div id='copyright'>Copyright @ 2017 CoolJoe, All rights reserved.</div>
      <div id='links'>
        <%= link_to 'About', about_path%>
        <%= link_to 'Contact', contact_path%>
      </div>
    </div>
  </div>
</nav>