    <footer id="myFooter">
        <div class="footer-copyright">
            <div class="footer-links">
              <span><%= link_to 'About', about_path%></span>
              <span class='divider'>|</span>
              <%= link_to 'Contact', contact_path%>
              <span class='divider'>|</span>
              <%= link_to 'Terms of Services', about_path%>
             </div>
            <p>© Copyright 2017 CoolJoe. All rights reserved</p>
        </div>
    </footer>
    
